/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    /*background-color: #B3D4FC;
    color: #337AB7;*/

}


.Header{
    background-color: #B3D4FC;
    padding-top: 10px;
    color:#337AB7;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height:auto;

}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    height: 50px;
    /bottom: 0;
    width: 100%;
    background-color: #B3D4FC;
    color: #337AB7;
    padding: 20px;
   /* position: absolute;
    //left: 0;
    //right: 0;
    //z-index:1;*/
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;min-height: 500px;}
}
.heading{
    font-size: 350%;
}
.managecontent{
    padding-left: 120px;
}
#myNavbar{
    //padding-right: 50%;
    padding-top: 10px;
}
.button_newTask{
    padding-left: 180px;
}
.select_status{
    padding-right:180px ;
}
.body_heading{
    border: outset;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    margin: 20px;
}
.body_status{
    height: 180px;
    margin: 5px;
    color: #337AB7;


}
.status{
    border: solid;
    height: 250px;
    margin: 20px;
    width: 350px;
    margin-left: 50px;
    padding-left: 15px;
    text-align: left;
}
.title_div{
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black;
    color: #337AB7;
   // margin-left: 10px;
}
.task_description_div{
    margin-top: 30px;
    alignment: left;
    color: #337AB7;
}
.back_div{
    padding-top: 10px;
    padding-left: 1100px;
}

.delete_div {
    padding-top: 10px;
    padding-left: 20px;
}
.checkbox_div{
    padding-top: 12px;
    padding-left: 10px;
}
.edit_div{
    padding-top: 12px;
    padding-left: 40px;
}

.HIGH{

    background-color: #ff6666;
}

.MEDIUM{

    background-color: #80d4ff;


}

.LOW {

    background-color: #9fdfbf;

}
.pieChartStyle{
    padding-top: 40px;
    height: 300px;
    width: 640px;
    alignment: left;

}
.barChartStyle{

    padding-top: 40px;

}
.dl-div{
    padding-left: 0px;
}
.statusChart_div{
    padding-left: 200px;
}
.priorityChart_div{
    padding-left: 200px;
}
.chatlink{
    padding-left: 30px;
}
.edit_modal{
    color: #337AB7;
}
.delete_modal{
    color: #337AB7;
}
.makeAsComplete_modal{
    color: #337AB7;
}