<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="todoApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="todoApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="todoApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="todoApp" class="no-js"> <!--<![endif]-->

<head>
  <base href="/"/>
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!--bootstrap links-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
  <link rel="stylesheet" href="bower_components/angularjs-datepicker/src/css/angular-datepicker.css">
  <link rel="stylesheet" href="css/app.css">

  <!--<meta charset="UTF-8">-->
   <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>DashBoard Page</title>
</head>
<body>
  <nav class="navbar Header" ng-controller="appController as ac">
    <div class="row">
      <div class="col-sm-10">
        <h1 class="heading"><b>TODOApp</b></h1>
        <p class="managecontent" ng-bind="'Manage_Your_Tasks' | translate">manage your task</p>
      </div>
      <div class="col-sm-2 navbar-right">
        <label><a ng-click="ac.changeLanguage('en')" ng-bind="'English' | translate"></a></label> |
        <label><a ng-click="ac.changeLanguage('es')" ng-bind="'Spanish' | translate"></a></label>
      </div>
    </div>
  </nav>
  <div ui-view></div>
  <footer class="container-fluid text-right">
    <p>Powered by SemanticBits</p>
  </footer>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
  <script src="bower_components/i18n/i18n.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/Chart.js/Chart.js"></script>
  <script src="bower_components/angular-chart.js/angular-chart.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>


  <script src="modules/todo/app.modules.js"></script>
  <script src="modules/todo/app.config.js"></script>
  <script src="modules/todo/app.run.js"></script>
  <script src="modules/todo/dashboard/dashboard.controller.js"></script>
  <script src="modules/todo/commons/app.controller.js"></script>
  <script src="modules/todo/dashboard/dashboard.factory.js"></script>
  <script src="modules/todo/chart/chart.controller.js"></script>
  <script src="modules/todo/dashboard/task.directive.js"></script>
  <script src="modules/todo/dashboard/filter.directive.js"></script>
</body>
</html>