<div class=" container-fluid">
    <div class="row">
        <div class="row text-center body_heading">
            <filter-tasks tasks="dc.tasks" status-list="dc.statusList" priorities-list="dc.prioritiesList"></filter-tasks>
            <div class="col-sm-2 chatlink">
                <b><a ui-sref="chart" ng-bind="'Show_Task_On_Chart' | translate"></a></b>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-bind="'Add_New_task' | translate"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
        <task-description tasks="dc.tasks"></task-description>

    </div>
</div>