

<div class="row">
    <div class="col-sm-4 status {{task.priority}}" ng-repeat="task in tasks">
        <div class="row">
            <div class="col-sm-6 text-left title_div">

                <h4>{{task.name}}</h4>

            </div>
            <div class="col-sm-2 edit_div">
                <a  href="#" ng-click="editTask(task.id)" >
                    <i class="fa fa-pencil fa-2x" uib-tooltip="edit" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-sm-2 delete_div" >

                <a href="#"   ng-hide="task.status=='COMPLETED' "  ng-click="deleteTasks(task.name)">
                    <i class="fa fa-trash fa-2x titleTrash" uib-tooltip="delete" ></i>
                </a>
            </div>
            <div class="col-sm-2 checkbox_div">
                <a href="#">
                    <i class="fa fa-square-o fa-2x " uib-tooltip="makeascomplete" ng-hide="task.status=='COMPLETED' " ng-click="markAsCompleteTask(task.name)"></i>

                </a>
                <a href="#">
                    <i class="fa fa-check-square-o fa-2x" uib-tooltip="completed" ng-show="task.status=='COMPLETED' "></i>
                </a>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12  task_description_div">
                <b><label ng-bind="'Description' | translate"></label> :</b>{{task.description}}<br>
                <b><label ng-bind="'Status' | translate"></label> :</b>{{task.status}}<br>
                <b><label ng-bind="'StartDate' | translate"></label> :</b>{{task.startdate}}<br>
                <b><label ng-bind="'EndDate' | translate"></label> :</b>{{task.enddate}}<br>
                <b><label ng-bind="'Priority' | translate"></label> :</b>{{task.priority}}
            </div>

        </div>

    </div>
</div>
